body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #ba7298;
    color: #f4cbcb;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    border-collapse: collapse;
}

table th {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    box-sizing: border-box;
    text-transform: uppercase;
}

table th:first-child {
    border-radius: 10px 0 0 0;
}

table th:last-child {
    border-radius: 0 10px 0 0;
}

table td {
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

table tbody tr {
    background-color: rgba(255, 255, 255, 0.1);
}

table tbody tr:nth-child(2n+2) {
    background-color: rgba(255, 255, 255, 0.2);
}